.Container {
  width: 40vw;
  height: auto;

  max-width: 615px;
  min-width: 470px;

  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(54, 93, 204, 0.2);
  
  padding: 20px;
}

.Title {
  font-size: 1.125em;
  color: #707070;
  margin-top: 0px;
  font-weight: 600;
}

.Button {
  width: 60%;
  height: 120px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  background-image: linear-gradient(to left, #365DCC, #5ECEF8, #365DCC);
  background-size: 200%;
  transition: 0.4s;
}

.Button:hover {
  background-position: right;
}

.ButtonIcon {
  width: 60px;
  height: 60px;  
  color: #FFF;
  margin-right: 0px;
  padding-top: 10px;
}

.ButtonClose {
  width: 30px;
  height: 30px;

  color: #365DCC;

  background: none;
  border: none;

  position: absolute; 
  top: 1%;
  right: 1%;
}

.ButtonConfirm {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  background-image: linear-gradient(to left, #365DCC, #5ECEF8, #365DCC);
  background-size: 200%;
  transition: 0.4s;
}

.ButtonConfirm:hover {
  background-position: right;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #666;
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  
  transform: translate(-50%,-50%);
  border-radius: 20px;
  padding: 20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media (max-width: 1024px) {
  .Countdown {
    width: 80vw;
    max-width: 700px;
    margin-top: 50px;
  }

  .Button {
    width: 90%;
  }

}

@media (max-width: 728px) {

  .Container {
    width: 80vw;
    height: auto;
    max-width: 420px;
    min-width: 0;    
  }

  .Button {
    width: 90%;
  }
}