.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
}

.login-container form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.login-container form img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  margin: auto; 
}

.login-container form p {
  text-align: center;
  color: #707070;
}

.login-container form input {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: 0.4s;
}

.login-container form input::placeholder {
  color: #999;
}

.login-container form input:focus {
  border-color: #999;
  box-shadow: 0px 0px 5px rgba(54, 93, 204, 0.2);
}

.ButtonLogin {
  height: 48px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(to left, #365DCC, #5ECEF8, #365DCC);
  background-size: 200%;
  transition: 0.4s;
}

.ButtonLogin:hover {
  background-position: right;
}