.Container div {
  display: inline-block;
}

.Container span {
  font-size: 5em;
  color: #233E8A;
}

.Container div p {
  font-size: 1.5em;
  color: #707070;
}

.Day, .Hour, .Minute, .Second {
  margin: 0px 15px;
}

.Function {
  width: 100%;
  display: flex;
  flex-direction: row;
}