.Container div {
  display: inline-block;
}

.Container span {
  font-size: 5em;
  color: #233E8A;
}

.Container div p {
  font-size: 1.5em;
  color: #707070;
}

.Day, .Hour, .Minute, .Second {
  margin: 0px 15px;
}

.Function {
  display: flex;
  flex-direction: row;
}

@media (max-width: 728px) {

  .Container span {
    font-size: 4em;    
  }

  .Day, .Hour, .Minute, .Second {
    margin: 0px 10px;
  }

  .Container div p {
    font-size: 1.3em;
  }
}

@media (max-width: 420px) {

  .Container span {
    font-size: 3em;    
  }

  .Day, .Hour, .Minute, .Second {
    margin: 0px 10px;
  }

  .Container div p {
    font-size: 1.1em;
  }
}

@media (max-width: 360px) {
  
}