.Container ul {
  margin: 0;
  padding: 0;
}

.Container li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Container li p {
  border-bottom: 1px solid #70707044;
  margin-bottom: 0px;
  padding-bottom: 16px;
  color: #233E8A;
  font-weight: 600; 
  font-size: 1em;
}

.Container li:last-child p {
  border: none;
}

.ListIcon {
  width: 24px;
  height: 24px;  
  margin-right: 20px;
  color: #365DCC;
}

.Label {
  flex: 1;
  text-align: left;  
}

.BtnReport {
  height: 48px;
  width: 50%;
  margin-top: 20px;
}

.Select {
  display: flex;
  flex-direction: row;
  align-items: space;
  justify-content: space-around;
}

.Select select {
  width: 48%;
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #666;
  padding: 0 10px;
  margin-top: 20px;
  appearance: none;
  position: relative;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 4px),
    calc(100% - 15px) calc(1em + 4px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

.Select select:focus {
  border-color: #999;
  box-shadow: 0px 0px 10px rgba(54, 93, 204, 0.2);

  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}